<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
* {
  box-sizing: border-box;
}
/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%; /* Set the width of the sidebar */
  background-color: #d6d6f5; /* light blue background color */
  padding: 20px; /* Some padding */
}
/* Main column */
.main {
  flex: 70%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 20px; /* Some padding */
}
.header {
  padding: 30px;
  text-align: center;
  background: #031687;
  color: white;
}
 h1 {
    color: white;
	font-size: 32pt
}
h2 {
	color: white;
	font-size:28pt;
}